---
bodyClass: "wp-singular page-template-default page page-id-3 contacto"
layout: layouts/base.njk
permalink: "/contact/"
title: "Contact"
description: "Thank you for coming here. I want you to feel at home."
ogImage: "/assets/img/contact/Sant-Gervasi-Calacatta-Interiorismo.jpg"
---
<section id="content" class=""><div id="post-154" class="post-154 page type-page status-publish has-post-thumbnail hentry"><div class="wpb-content-wrapper"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><section id="id-HtaLxYuQ" class="section contact-element pt-48 pt-lg-48 pb-36 pb-lg-72 " ><div  class="container     "><div  class="row flex-column-reverse flex-lg-row gy-32 gy-lg-0 gx-64    "><div  class="  col-12 col-lg-6 col-xl-5    "><div  class="    d-flex flex-column align-items-start" ><div  class="d-flex flex-column    mb-32" ><h1 class="h3 lh-md fw-light ff-secondary title mb-24">
Thank you for coming here. We want you to feel at home.</h1><div class="text-normal ff-primary fw-light lh-xl  ">
If you need to get in touch with me, you can either reach out through the website or give me a call</div></div><div  class="d-flex flex-rowflex-lg-column   contact-content flex-wrap  ff-primary mb-32" ><div class="cta-container d-flex align-items-center justify-content-start shadow-lg bg-white radius-sm p-16 pe-lg-56 mb-24 me-sm-16 me-lg-0">
<a href="tel: +1 425 543 8092"
class="stretched-link"
aria-label="Contact method"></a><span class="icon icon-md icon-bg-gray icon-rounded icon-call"></span><div class="content-container ps-16"><div class="    title">
Call me</div><span class="contact text-normal fw-light lh-base ff-secondary text-nowrap">
+1 425 543 8092
</span></div></div><div class="cta-container d-flex align-items-center justify-content-start shadow-lg bg-white radius-sm p-16 pe-lg-56 mb-24 me-sm-16 me-lg-0">
<a href="mailto: cecipozziornague@gmail.com / cecilia@calacattastudio.com"
class="stretched-link"
aria-label="Contact method"></a><span class="icon icon-md icon-bg-gray icon-rounded icon-mail"></span><div class="content-container ps-16"><div class="    title">
Send me an email</div><span class="contact text-normal fw-light lh-base ff-secondary text-nowrap">
cecipozziornague@gmail.com / cecilia@calacattastudio.com
</span></div></div></div></div></div><div  class="  col-12 col-lg-6 col-xl-5 offset-xl-2    mb-24"><div class="image rounded-0 ">
<picture><source srcset="/assets/img/contact/Muebles-a-Medida-Calacatta-e1683609456222-525x600.jpg.webp" type="image/webp"><img fetchpriority="high" decoding="async" width="525" height="600" src="/assets/img/contact/Muebles-a-Medida-Calacatta-e1683609456222-525x600.jpg" class="attachment-uq_vertical_image_thumbnail size-uq_vertical_image_thumbnail webpexpress-processed" alt="Muebles a Medida Calacatta"></picture></div></div></div></div></section></div></div></div></div></div></div></section>
