<footer id="footer"
class="site-footer footer-extended bg-white text-dark"><div class="container"><div class="main-footer d-flex flex-column position-relative pt-48 pt-lg-80 pb-24 pb-lg-32"><div class="row d-flex justify-content-between flex-column flex-md-row mb-48 mb-lg-96 "><div class="logo-text d-flex flex-column align-items-between col-12 col-lg-3 mb-24 mb-lg-0"><div class="logo-img mb-24 mb-lg-16">
<a href="/" class="logo" rel="home" itemprop="url" aria-label="Calacatta">
<picture><source srcset="/assets/img/shared/Cecilia-Pozzi-Logo-Pie-de-Pagina.png.webp 400w, /assets/img/shared/Cecilia-Pozzi-Logo-Pie-de-Pagina-200x100.png.webp 200w" data-sizes="(max-width: 400px) 100vw, 400px" type="image/webp"><img width="400" height="200" data-src="/assets/img/shared/Cecilia-Pozzi-Logo-Pie-de-Pagina.png" class="image webpexpress-processed lazyload" alt="Cecilia Pozzi Logo Pie de Pagina" itemprop="logo" itemscope="itemscope" role="presentation" aria-hidden="true" decoding="async" srcset="/assets/img/shared/Cecilia-Pozzi-Logo-Pie-de-Pagina.png 400w, /assets/img/shared/Cecilia-Pozzi-Logo-Pie-de-Pagina-200x100.png 200w" data-sizes="(max-width: 400px) 100vw, 400px" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMSIgaGVpZ2h0PSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjwvc3ZnPg==" style="--smush-placeholder-width: 400px; --smush-placeholder-aspect-ratio: 400/200;"></picture>
</a><span role="presentation" aria-hidden="true" class="visually-hidden">Calacatta</span></div></div><div class="menus-section col-12 col-lg-9 d-flex justify-content-start justify-content-md-center flex-column flex-lg-row"><div class="row flex-grow-1"><div class="main-navbar col-12 col-md-6 col-lg-4 offset-lg-2 mb-48 mb-lg-0"><ul id="menu-menu-footer" class="navbar-nav navbar-nav-list"><li  id="menu-item-959" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-959"><a href="/about/" class="nav-link ">About me</a></li><li  id="menu-item-958" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-958"><a href="/projects/" class="nav-link ">Projects</a></li><li  id="menu-item-957" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-957"><a href="/contact/" class="nav-link ">Contact</a></li></ul></div><div class="col-12 col-md-6 col-lg-5 offset-lg-1"><div class="address mb-16">
<a href="https://www.google.com/maps/search/?api=1&query=11803+NE+67th+Pl,+Kirkland,+WA+98033"
class="d-flex align-items-center"
aria-label="Address">
<span class="icon icon-location text-lg me-8"></span><span>11803 NE 67th Pl. Kirkland 98033</span>
</a></div><div class="telephone">
<a href="tel:+14255438092"
class="d-flex align-items-center text-lg fw-bold"
aria-label="Contact method">
<span class="icon icon-call me-8"></span>
<span>+1 (425) 543 8092</span>
</a></div></div></div></div></div><div class="bottom d-flex justify-content-between align-items-start align-items-lg-center flex-column flex-lg-row"><div class="left-section d-flex flex-column flex-md-row align-items-md-center mb-48 mb-lg-0"><div class="text-sm ff-primary mb-24 mb-md-0 me-md-24">
© 2026 Cecilia Pozzi. All rights reserved.</div></div><div class="social-section d-flex flex-column flex-md-row align-items-start align-items-lg-center">
<a href="mailto:cecipozziornague@gmail.com"
class="btn btn-link text-sm contact-email text-nowrap mb-24 mb-md-0 "
aria-label="Contact email">
cecipozziornague@gmail.com
</a></div></div></div></div></footer>